<div class="card card-xl-stretch mb-xl-8">
    <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="fw-bold mb-2 text-dark">Aktivitelerim</span>
            <span class="text-muted fw-semibold fs-7">890,344 Sales</span>
        </h3>
        <div class="card-toolbar">
            <a href="#" class="btn btn-sm btn-light" data-bs-toggle="tooltip" data-bs-dismiss="click" data-bs-custom-class="tooltip-inverse" data-bs-original-title="Logistics App is coming soon" data-kt-initialized="1">Tümünü Göster</a>
        </div>
    </div>
    <div class="card-body pt-5">
        <div class="timeline-label">
            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-800 fs-6">08:30</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-warning fs-1"></i>
                </div>
                <div class="fw-mormal timeline-content text-muted ps-3">
                    Giriş yapıldı.
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-800 fs-6">10:00</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-success fs-1"></i>
                </div>
                <div class="timeline-content d-flex">
                    <span class="fw-bold text-gray-800 ps-3">Toplantı yapıldı.</span>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-label fw-bold text-gray-800 fs-6">18:30</div>
                <div class="timeline-badge">
                    <i class="fa fa-genderless text-warning fs-1"></i>
                </div>
                <div class="fw-mormal timeline-content text-muted ps-3">
                    Çıkış yapıldı.
                </div>
            </div>
        </div>
    </div>
</div>