<div class="card h-md-100" dir="ltr">
    <div class="card-header border-0">
        <h3 class="card-title fw-bold text-dark">Bu Hafta Doğanlar</h3>
        <div class="card-toolbar">
            <a href="#" id="btnTumDogumGunleri" class="btn btn-sm btn-light" data-bs-toggle="tooltip" data-bs-dismiss="click" data-bs-custom-class="tooltip-inverse">Tümünü Göster</a>
        </div>
    </div>
    <div class="card-body d-flex flex-column flex-center">
        <div class="mb-2" style="display: flex;flex-wrap: wrap;justify-content: center;">
            <div style="display:flex;align-items:center;">
                <div id="btnDogumGunuOnceki" data-dg-index="0"><i class="bi bi-caret-left fs-2 me-5"></i></div>
                <div class="py-10 text-center">
                    <img src="" class="theme-light-show w-200px" alt="" id="imgDogumGunuForLightTheme">
                    <img src="" class="theme-dark-show w-200px" alt="" id="imgDogumGunuForDarkTheme">
                </div>
                <div id="btnDogumGunuSonraki" data-dg-index="0"><i class="bi bi-caret-right fs-2 ms-5"></i></div>
            </div>
            <h1 class="fw-semibold text-gray-800 text-center lh-lg">
                <span class="fw-bolder">İyi ki Doğdun <span id="spanDogumGunuAdSoyad"></span></span>
            </h1>
        </div>
        <div class="text-center mb-1">
            <p>Merhaba <span id="spanDogumGunuAd"></span>, doğum gününüzü kutlar, sevdiklerinizle birlikte mutlu bir ömür dileriz.</p>
        </div>
    </div>
</div>