@using ModelDto.Dtos.Kullanici;
@using Newtonsoft.Json;
@model DtoKullaniciGuncelle

<script src="~/custom js/adresDefteri.js"></script>
<div id="kt_app_content" class="app-content  flex-column-fluid ">
    <div id="kt_app_content_container" class="app-container  container-fluid ">
        <div class="card mb-5 mb-xl-10">
            <div id="" class="collapse show">
                @using (Html.BeginForm("Index", "Liste", FormMethod.Post, new { @id = "frmListe", enctype = "multipart/form-data", autocomplete = "off" }))
                {
                    @Html.HiddenFor(model=>model.Id)
                    <div class="card-body border-top p-9">
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label  fw-semibold fs-6">Kullanıcı Adı Soyadı</label>
                            <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                @Html.TextBoxFor(model => model.AdSoyad,new { @class = "form-control form-control-lg form-control-solid", placeholder="Kullanıcı Adı Soyadı", @tabindex = "1" })
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <div class="btn btn-primary btnDuzenle" id="btnKullaniciFiltrele">Filtrele</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="kt_app_content" class="app-content  flex-column-fluid ">
        <div id="kt_app_content_container" class="app-container  container-fluid ">
            <div class="card mb-5 mb-xl-8">
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold fs-3 mb-1">Adres Defteri Listesi</span>
                        <span class="text-muted mt-1 fw-semibold fs-7">Tüm kullanıcılar</span>
                    </h3>
                </div>
                <div class="card-body py-3">
                    <div class="table-responsive">
                        <table id="AdresDefteriListeTablo" class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                            <thead>
                                <tr class="fw-bold text-muted">
                                    <th>Id</th>
                                    <th>Fotoğraf</th>
                                    <th>Adı Soyadı</th>
                                    <th>Eposta</th>
                                    <th>Birimi</th>
                                    <th>Görevi</th>
                                    <th>Adres</th>
                                    <th>Cep Telefonu</th>
                                    <th>Dahili No</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>